#mboulogo {
    position: absolute;
    top: 52px;
    left: 0px;
}

#mboubanner {
    position: absolute;
    top: 185px;
}

.topnav {
    overflow: hidden;
    background-color: #1daeec;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Change topnav position*/
  .topnav {
      position: absolute;
      top: 139px;
      right: 186px; 
  }
